@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
  font-family: 'Press Start 2P', Arial, sans-serif;
  box-sizing: border-box;
  font-size: 16px;
  color: rgb(117, 198, 94);
}

body {
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 431px) {
  * {
    font-size: 12px;
  }

  body .header {
    padding: 2rem 2rem;
  }

  body .card-grid {
    gap: 5vw;
  }
  body .gameboard {
    padding-top: 10vh;
  }
  body .gameboard img {
    max-width: 22vw;
  }
}

@media only screen and (max-width: 1030px) {
  body .gameboard img {
    max-width: 18vw;
  }
}

.app-container {
  display: flex;
  flex-direction: column;
}

.header {
  height: 15vh;
  display: flex;
  justify-content: space-between;
  padding: 2rem 3rem;
}

.description {
  margin-top: 0.4rem;
  font-size: 0.7rem;
  line-height: 1.2rem;
}
.score,
.highscore {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.gameboard {
  padding-top: 5vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 3vw;
}

.card {
  cursor: pointer;
  transition: 0.1s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: fit-content;
}

img {
  max-width: 9vw;
}

button {
  margin-top: 0.8rem;
}

.card:hover {
  scale: 1.02;
}

.card-grid.inactive {
  opacity: 0.5;
  pointer-events: none;
}
